---
layout: default
---
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{page.title}}</h1>
											<p class="text-right">{{page.subtitle}}</p>
										</header>
										{{content}}
										<ul class="actions">
											<li><a href="/about/" class="button big">详细内容……</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="/assets/images/{{page.home_image}}" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>本书特点</h2>
									</header>
									<div class="features">
									{% for feature in site.data.features %}
										<article>
											<span class="icon {% cycle 'fa-gem', 'solid fa-paper-plane', 'solid fa-rocket', 'solid fa-signal' %}"></span>
											<div class="content">
												<h3>{{feature.title}}</h3>
											  {{feature.content}}
											</div>
										</article>
									{% endfor %}
									</div>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>编纂日志</h2>
									</header>
									<div class="posts">
								    {% for post in paginator.posts %}
										<article>
                                            <a href="{{post.url}}" class="image"><img src="/assets/images/{%- cycle 'blog01.jpg', 'blog02.jpg', 'blog03.jpg', 'blog04.jpg', 'blog05.jpg', 'blog06.jpg' -%}" alt="{{post.title}}"></a>
											<h3>{{ post.title }}</h3>
											<p>
											{{post.content|strip_html|truncate: 100, "……"}}
											</p>
											<ul class="actions">
												<li><a href="{{ post.url }}" class="button">详细……</a></li>
											</ul>
										</article>
										{% endfor %}
									</div>
                                    {% if paginator.total_pages > 1 %}
                                    <ul class="pagination">
                                        {% if paginator.previous_page %}
                                        <li><a href="{{ paginator.previous_page_path | relative_url}}" class="button">前页</a></li>
                                        {% else %}
										<li><span class="button disabled">前页</span></li>
                                        {% endif %}
                                        {% for page in (1..paginator.total_pages) %}
                                        {% if page == paginator.page %}
                                        <li><a href="#" class="page active">{{page}}</a></li>
                                        {% elsif page == 1 %}
                                        <li><a href="{{ site.paginate_path | relative_url | replace: 'page:num', '' }}" class="page">{{page}}</a></li>
                                        {% else %}
                                        <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page">{{page}}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                        {% if paginator.next_page %}
                                        <li><a href="{{paginator.next_page_path|relative_url}}" class="button">后页</a></li>
                                        {% else %}
                                        <li><span class="button disabled">后页</span></li>
                                        {% endif %}
									</ul>
                                    {% endif %}
								</section>

